* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    overflow: hidden;
}

#template {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

.square-container {
    border: 1px solid #237FFA;
}

.square {
    position: absolute;
    width: 6px;
    height: 6px;
    opacity: 0;
    background-color: #237FFA;
}

.top-left {
    top: -3px;
    left: -3px;
}

.top-right {
    top: -3px;
    right: -3px;
}

.bottom-left {
    bottom: -3px;
    left: -3px;
}

.bottom-right {
    bottom: -3px;
    right: -3px;
}

.active {
    background-color: #237ffa60;
}

.active .square {
    opacity: 1;
}

#template {
    width: 1920px;
    height: 1080px;
}

#main-title {
    font-size: 3rem;
    position: absolute;
    left: 160px;
    top: 1.2rem;
}

#sub-title {
    font-size: 2rem;
    position: absolute;
    left: 368px;
    top: 35px;
}

#from-source {
    font-size: 2rem;
    left: 160px;
    top: 85px;
    position: absolute;
}

.text-value {
    outline: none;
}
