.lmo-template_item_content {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  width: 22%;
  margin-left: 1.5vw;
  margin-top: 1vw;
  box-shadow: 1px 2px 12px 0 rgb(0 0 0 / 10%);

  .lmo-template_item_content_card {
    padding-bottom: 56.25%;

    .lmo-template_item_content_img_box {
      width: 100%;
      height: 100%;

      .lmo-template_item_content_img {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
        overflow: hidden;
        border-radius: .8rem;

        img {
          height: 100%;
          border-radius: 4px;
          transition: all .2s;

          &:hover {
            transform: scale(1.5);
          }
        }
      }

      .lmo-template_item_content_title {
        width: 100%;
        height: 6vh;
        bottom: 0;
        color: #FBFBFD;

        .lmo-template_item_content_title_box {
          padding-left: 1vw;
          margin-top: .5vw;

          .lmo-template_item_title {
            font-size: 1rem;
            line-height: 4vh
          }

          .lmo-template_item_dis {
            font-size: 1.5vh
          }
        }
      }
    }
  }
}