.lmo-color_config_item {
  .lmo-color_box {
    display: inline-block;
    margin-right: 1rem;

    .el-color-picker__trigger {
      height: 18px;
      width: 18px;
      position: relative;
      top: 2px;
    }

    .lmo-color_box_content {
      //justify-content: space-between;
      margin-bottom: 1rem;

      .lmo-color_box_label {
        color: #fbfbfd;
        font-size: .8rem;
      }

      .lmo-color_box_option {
        margin-left: 6px;

        .lmo-color_box_option_mode {
          display: flex;

          .el-select {
            width: 8rem;
          }

          .lmo-color_box_option_mode_picker {
            margin-left: 1rem;
            height: 1.5rem;
            margin-top: .2rem;
          }
        }

        .lmo-theme_item_content {
          display: inline-block;

          .lmo-theme_item_box {
            height: 1.2rem;
            padding: .4rem;
            border-radius: .5rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;

            div {
              width: .5rem;
              height: 100%;
            }
          }

          .lmo-theme_item_box_activation_border {
            border: 1px solid #409EFF;
          }

          .lmo-theme_item_box_default_border {
            border: 1px solid #DCDFE6;
          }
        }
      }
    }
  }
}

.el-color-picker__trigger {
  border: none;
  margin-right: 12px;
  height: 20px;
  width: 20px;
  padding: 0;

  .el-color-picker__empty {
    display: none;
  }

  .el-color-picker__icon {
    display: none;
  }
}