.lmo-color_config_item {
  .lmo-color_box {
    display: inline-block;
    margin-right: 1rem;

    .el-color-picker__trigger {
      height: 18px;
      width: 18px;
      position: relative;
      top: 2px;
    }

    .lmo-color_box_content {
      //justify-content: space-between;
      margin-bottom: 1rem;

      .lmo-color_box_label {

      }

      .lmo-color_box_option {
        margin-left: 6px;

        .lmo-color_box_option_mode {
          display: flex;

          .lmo-color_box_option_mode_picker {
            margin-left: 1rem;
          }
        }

        .lmo-theme_item_content {
          display: inline-block;

          .lmo-theme_item_box {
            height: 18px;
            padding: 4px;
            border-radius: 4px;
            margin-right: 0.5rem;
            margin-bottom: .5rem;

            div {
              width: 6px;
              height: 100%;
            }
          }

          .lmo-theme_item_box_activation_border {
            border: 1px solid #409EFF;
          }

          .lmo-theme_item_box_default_border {
            border: 1px solid #DCDFE6;
          }
        }

        .lmo-upload_box {
          width: 5vh;
          display: inline-block;
          height: 5vh;
          border: 1px dashed #C0CCDA;
          border-radius: 6px;
          text-align: center;
          line-height: 5vh;
          font-size: 1.2vw;

          &:hover {
            border: 1px dashed #409EFF;
          }
        }
      }
    }
  }
}

.el-color-picker__trigger {
  border: none;
  margin-right: 12px;
  height: 20px;
  width: 20px;
  padding: 0;

  .el-color-picker__empty {
    display: none;
  }

  .el-color-picker__icon {
    display: none;
  }
}