.lmo-view_resource {
  width: 37.8vw;
  height: 30vh;

  .lmo-view_resource_item {
    overflow: hidden;
  }

  .lmo-view_resource_media_item {
    text-align: center;
    height: 5vh;
    border: 1px solid #409fee;
    line-height: 5vh;
    border-radius: 0.4rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}