.lmo-data_visualization_config_item {
  height: 100%;
  background: #162431;
  border-radius: 16px;
  //padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;

  .lmo-data_visualization_config_item_card_title {
    margin-bottom: 1rem;
    color: #FBFBFD;
    display: flex;

    &:before {
      content: "";
      width: .4rem;
      background-color: #229eed;
      margin-right: 0.6rem;
      border-radius: 6px;
      display: block;
      height: 1rem;
      position: relative;
      top: .2rem;
    }
  }

  .lmo-data_visualization_config_item_card {
    width: 94%;
    border-radius: 16px;
    background-color: #1A3245;
    margin-bottom: 1.5rem;
    padding: 1rem;

    &:nth-child(1) {
      margin-right: 2.5rem;
    }
  }

  .text {
    .lmo-text_box {
      display: inline-block;
      width: 33.3%;
      margin-bottom: 1.2rem;

      .lmo-text_content {
        margin-bottom: 1rem;
        width: 15vw;

        .lmo-text_box_label {
          width: 7vw;
          color: #fbfbfd;
          font-size: .8rem;
          margin-bottom: .5rem;
        }

        .lmo-text_box_option_lmo-component {
          width: 7vw;
        }

        .lmo-text_box_option {
          margin-left: 0;
        }
      }
    }
  }
}