@import "../../style/theme";

.data-visualization-design {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  input[type='color'] {
    background: #FFFFFF00;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    height: 2rem;
    width: 2rem;

    &::-webkit-color-swatch {
      border: none;
      border-radius: .5rem;
    }

    &::-moz-color-swatch {
      border: none;
      border-radius: .5rem;
    }
  }

  .data-visualization-design-header {
    width: 100vw;
    height: 4.125rem;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;

    .data-visualization-design-header-black {
      font-size: 1rem;
      margin-top: 1.625rem;
      margin-left: 4rem;
      height: 1.25rem;
      line-height: 1.25rem;
      justify-content: space-between;

      .black {
        margin-left: .4rem;
        margin-top: -.15rem;
      }
    }

    .data-visualization-design-header-option {
      margin-right: 2.875rem;
      margin-top: 1.3rem;
      display: flex;
      justify-content: end;
    }
  }

  .template-preview {
    width: 100%;
    height: 51.875rem;
    border-radius: 0.625rem;
    box-shadow: 0 6px 4rem 0 rgba(0, 0, 0, 0.25);

    iframe {
      transform: scale(0.48);
      transform-origin: 0 0;
      border-radius: 0.625rem;
    }
  }

  .progress-bar {
    width: 100%;
    border-radius: 0.625rem;
    height: 5.5rem;
    margin-top: 1.5rem;
    box-shadow: 0 6px 4rem 0 rgba(0, 0, 0, 0.25);

    .progress-bar-content {
      padding: 0 1.25rem;

      .progress-bar-play-icon {
        margin-top: 1.62rem;
      }

      .progress-bar-slider {
        height: 0.75rem;
        flex-shrink: 0;
        border-radius: 0.375rem;
        background: #E9E9E9;

        .progress-bar-slider-track {
          border-radius: 0.375rem;
          height: 100%;
          background: #0688E5;
          margin-top: 2.31rem;
          width: 64%;
          transition: all .2s;
        }
      }

      .progress-bar-time {
        text-align: right;
        line-height: 5.5rem;
        color: #3D3D3D;
      }
    }
  }

  .design-configs {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;

    .select-bg-image {
      overflow: hidden;
      height: 10.5rem;
      text-align: center;
      line-height: 10.5rem;
      color: rgba(0, 0, 0, 0.6);
      font-size: .8rem;
      border-radius: 0.625rem;

      img {
        height: 100%;
      }
    }

    .design-configs-top-options {
      height: 3rem;
      border-radius: 0.625rem 0.625rem 0 0;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      justify-content: left;
      padding-left: 1.87rem;

      .design-configs-top-options-item {
        //padding: 0 1.87rem;
        color: #9EA5AF;
        font-size: 1rem;
        font-weight: 500;
        line-height: 3rem;
      }

      .active {
        color: #0688E5;
        font-weight: 700;
      }
    }

    .design-configs-container {
      padding: 1.25rem;

      .text-config {
        .text-config-title {
          font-size: 0.875rem;
          font-weight: 500;

          &:before {
            content: "";
            width: .25rem;
            background-color: $theme-color;
            margin-right: .6rem;
            border-radius: 6px;
            display: block;
            height: 0.75rem;
            position: relative;
            top: .3rem;
          }

          &.dark-mode {
            color: $color-white;
          }
        }
      }

      .color-config {
        .color-config-item {
          margin-bottom: 1.5rem;

          .color-config-item-label {
            font-size: 0.875rem;
            font-weight: 500;

            &:before {
              content: "";
              width: .25rem;
              background-color: $theme-color;
              margin-right: .6rem;
              border-radius: 6px;
              display: block;
              height: 0.75rem;
              position: relative;
              top: .3rem;
            }
          }
        }
      }
    }
  }

  .config-line {
    width: 100%;
    height: 1px;
    margin: 2.5rem 0;
  }

}

.c-select-theme {
  width: 100%;
  height: 2.125rem;
  justify-content: space-between;

  div {
    background: #1CA8E3;
    flex: 1;

    &:first-child {
      border-radius: .5rem 0 0 .5rem;
    }

    &:last-child {
      border-radius: 0 .5rem .5rem 0;
    }
  }
}

.c-reset-button {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: .5rem;

  svg {
    margin: auto;
    width: 0.875rem;
    display: block;
    position: relative;
    top: .3rem;
  }
}


.c-select-file {
  height: 100%;

  .c-select-file-search {
    margin-bottom: 1.125rem;
    height: 6.5%;

    button {
      float: right;
    }
  }

  .c-select-file-content {
    height: 80%;
    overflow-y: auto;
  }

  .c-select-file-pagination {
    margin-top: 2%;
    display: flex;
    justify-content: end;
  }

  .c-image-waterfall {
    column-count: 5;
    column-gap: 10px;
    overflow-y: scroll;

    .c-image-waterfall-item {
      height: 100%;
      break-inside: avoid;
      margin-bottom: 10px;

      img {
        width: 100%;
        border-radius: 0.625rem;
      }
    }
  }
}