@import "../../style/theme";

.dark-mode {
  .data-visualization-design {
    background: $__primary-sub-bg-color-dark;

    .data-visualization-design-header {
      background-color: $__primary-bg-color-dark;

      .data-visualization-design-header-black {
        color: $color-white;
      }
    }

    .template-preview {
      background: $__primary-bg-color-dark;

      iframe {
        background: $__primary-bg-color-dark;
      }
    }

    .progress-bar {
      background: $__primary-bg-color-dark;
    }

    .design-configs {
      background: $__primary-bg-color-dark;

      .design-configs-top-options {
        background: #2F3C4E;
      }

      .design-configs-container {
        .text-config {
          .text-config-title {
            color: $color-white;
          }
        }

        .text-config-item {
          margin-top: 1.375em;

          .text-config-item-label {
            color: $color-white;
          }
        }

        .color-config {
          .color-config-item-label {
            color: $color-white;
          }
        }
      }
    }

    .config-line {
      background: #2F3E51;
    }
  }

  .hi-v4-pagination__item {
    background: $__form-component-bg-color-dark !important;
  }

  .hi-v4-pagination__item--active {
    background: $__form-component-bg-color-dark !important;
  }

  .hi-v4-pagination__btn > button, .hi-v4-pagination-mini__btn > button {
    background: $__form-component-bg-color-dark !important;

    &:hover {
      background: $theme-color !important;
    }
  }

  .c-reset-button {
    background: $__form-component-bg-color-dark;
  }
}