.welcome-page {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  &-content {
    width: auto;
    position: relative;
    margin: calc((100vh - 318px) / 2) auto auto;
  }

  &-logo {
    width: 11.25rem;
    height: 11.25rem;
    flex-shrink: 0;
  }

  h2 {
    color: #FFFFFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .start-button {
    padding-left: 3.69rem;
    padding-right: calc(3.69rem + .62rem);
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFF;

    p {
      text-align: center;
      line-height: 3.75rem;
      color: #0688E5;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
    }

    svg {
      top: 1.2rem;
      margin-left: .62rem;
    }
  }


  &-right-button {
    right: 5%;
    bottom: 10%;

    svg {
      font-size: 2rem !important;
      color: #FFFFFF;
      transition: transform 1s;

      &:hover {
        animation: rotate 1s forwards !important;
      }
    }
  }

  &-footer {
    bottom: 1%;
    width: 100%;

    p {
      text-align: center;
      font-size: .8rem;
      color: #ddd;

      a {
        color: #fff;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
