.lmo-animates_box {
  .lmo-animates_box_item {
    width: 8vw;
    height: 5vh;
    display: inline-block;
    border: 1px solid salmon;
    color: #409EFF;
    text-align: center;
    line-height: 5vh;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 1vh;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .select {
    background: #ebebeb;
  }
}