.lmo_about_box {
  text-align: center;

  .animated {
    animation-duration: 1s;
  }

  .lmo_about_box_title {
    font-size: 26px;
    font-weight: bold;
  }

  .lmo_line {
    width: 300px;
    height: 1px;
    background: #ebebeb;
    margin: auto;
  }

  .lmo_icon {
    img {
      width: 38px;
      padding-right: 12px;
      position: relative;
      top: 1rem;
    }
  }

  .lmo_about_logo {
    width: 26%;
    background: #FBFBFD;
    border-radius: 50%;
  }

  span {
    line-height: 10vh;

    a {
      color: #000;
    }
  }

  p {
    line-height: 3rem;
  }
}