.lmo-preview {
  width: 960px;
  height: 580px;

  .lmo-preview_iframe_box {
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0;
    transform: scale(0.5);
    transform-origin: 0 0;

    iframe {
      width: 100%;
      height: 100%;
    }

    .lmo-preview_progress_box {
      width: 100%;
      height: 14px;
    }
  }

  .lmo-preview_mask {
    width: 1920px;
    height: 1080px;
    left: 20px;
    top: 115px;
    transform: scale(0.5);
    transform-origin: 0 0;
    background: #5e5e5e7d;
    position: absolute;
    z-index: 9;

    p {
      text-align: center;
      line-height: 1380px;

      img {
        width: 300px;
      }
    }
  }
}