.lmo-animate_view {
  overflow: hidden;

  .lmo-animate_view_content {
    width: 13vw;
    height: 5vh;
    border: 1px solid #DCDFE6;
    text-align: center;
    line-height: 5vh;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 1vh;
  }
}