.lmo-data_visualization_template_view {
  width: 96%;
  overflow-y: auto;
  margin: auto;
  padding:  0 1rem;
  height: calc(100vh - (6vh + 1vh));

  .lmo-visualization_template {
    margin-top: 1rem;
  }
}
