.lmo-data_visualization_edit {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #ddd;
  overflow: hidden;

  .lmo-data_visualization_edit_content {
    width: 100vw;
    //margin-top: 1vw;
    margin: 1vw 0;
    border-radius: 0.4vw;
    height: calc(100vh - (6vh + 1vh));

    .lmo-data_visualization_edit_preview {
      width: 1000%;
      height: 60vh;
      position: relative;

      .lmo-data_visualization_edit_preview_player {
        width: 48vw;
        height: 27vw;
        background: #dddddd;
        position: relative;
        top: 2vh;
        left: 1vw;
      }

      .lmo-data_visualization_edit_preview_table {
        width: 50vw;
        height: 27vw;
        position: relative;
        top: 2vh;
        left: 1.5vw;
        overflow: auto;

        .lmo-data_visualization_edit_preview_table_header {
          .lmo-data_visualization_edit_preview_table_header_content {
            padding-bottom: 8px;
            display: flex;
            justify-content: end;
          }
        }
      }
    }

    .lmo-data_visualization_edit_configure {
      width: 1000%;
      height: 30vh;
      margin-top: 2vh;
    }
  }
}