.lmo-data_visualization_edit {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #293943;
  overflow: hidden;

  .lmo-data_visualization_edit_content {
    width: 100vw;
    margin: 1vh 0;
    border-radius: 0.4vw;
    height: calc(100vh - (6vh + 1vh));

    .lmo-data_visualization_edit_preview {
      width: 100vw;
      height: 60vh;
      border-radius: .5vw;

      .lmo-data_visualization_edit_preview_player {
        width: 61vw;
        height: 34.5vw;
        top: 2vh;
        left: 1vw;
      }

      .lmo-data_visualization_edit_preview_table {
        width: 35vw;
        height: 27vw;
        top: 2vh;
        left: 1.5vw;

        .lmo-data_visualization_edit_preview_table_header {
          .lmo-data_visualization_edit_preview_table_header_content {
            padding-bottom: 8px;
            display: flex;
            justify-content: end;
          }
        }

        .lmo-data_visualization_edit_preview_table_content {
          width: auto;
          height: 84vh;
          overflow-x: hidden;
        }
      }
    }
  }
}