.lmo-audio_config {

  .lmo-audio_config_left {
    width: 48vw;
    margin-right: 2.5rem;

    .lmo-audio_config_left_audio_box {

      .lmo-audio_config_left_audio_bg_box {

      }

      .lmo-audio_controller_slider {
        width: 15.5vw;
        margin-left: 2.4vh;
      }

      .lmo-audio_config_left_audio_controller {

      }

      .lmo-audio_box_label {
        min-width: 5rem;
        color: #FBFBFD;
      }

      .lmo-audio_content {
        width: 15vw;
        height: 6vh;
        background-color: #162431;
        margin-left: 1rem;
        border-radius: 8px;
        padding: .5rem;
        justify-content: space-between;

        .lmo-audio_content_label {
          line-height: 6vh;
        }

        .lmo-audio_content_label_no_audio {
          color: #d7d7d7;
        }

        .lmo-audio_content_icon {
          width: 2.5vw;
          margin-top: .5vh;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .lmo-audio_config_right {
    width: 48vw;

    .lmo_video_config_right_item {
      margin-bottom: 1rem;

      .el-radio-group {
        margin-left: 1rem;
      }

      .lmo-video_box_label {
        min-width: 5vw;
        color: #FBFBFD;

        i {
          color: #E6A23C;
        }
      }
    }
  }
}