.lmo-audio_config {
  .el-tabs__content {
    height: 40vh;
  }

  .lmo-audio_config_left {
    margin-right: 2.5rem;

    .lmo-audio_config_left_audio_box {

      .lmo-audio_controller_slider {
        width: 15.5vw;
        margin-left: .8rem;
      }

      .lmo-audio_box_label {
        min-width: 6rem;
        color: #FBFBFD;
        margin-right: .5rem;
        font-size: .8rem;

        i {
          margin-right: .5rem;
        }
      }

      .lmo-audio_content {
        width: 100%;
        height: 6vh;
        background-color: #162431;
        margin-top: 1rem;
        border-radius: 8px;
        padding: .5rem;
        justify-content: space-between;

        .lmo-audio_content_label {
          line-height: 6vh;
        }

        .lmo-audio_content_label_no_audio {
          color: #d7d7d7;
        }

        .lmo-audio_content_icon {
          width: 2.5vw;
          margin-top: .5vh;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .lmo-audio_config_right {

    .lmo_video_config_right_item {
      margin-bottom: 1rem;

      .lmo-video_box_label {
        min-width: 5vw;
        color: #FBFBFD;
        margin-bottom: 1rem;
        font-size: .8rem;

        i {
          margin-left: .5rem;
        }
      }
    }
  }

  i {
    color: #E6A23C;
  }

  .lmo-customize_option {
    width: 10rem;

    span {
      width: 6rem;
    }

    left: 1rem;
    line-height: 1.66rem;
  }
}