.lmo-data_visualization_header {
  padding: 0 1rem;
  height: 6vh;
  width: 96%;
  margin: 1rem auto auto;
  border-radius: 1.33rem;
  justify-content: space-between;
  background: #fbfbfd14;

  h3 {
    font-size: 1.2vw;
    font-weight: bold;
    line-height: 6vh;
  }

  .lmo_data_visualization_header_option {
    top: 1.5vh;

    button {
      margin-right: .5rem;
    }
  }
}