.lmo-data_visualization_header {
  padding: 0 1rem;
  height: 6vh;
  background-color: #fff;
  border-bottom-right-radius: .5vw;
  border-bottom-left-radius: .5vw;
  justify-content: space-between;

  h3 {
    font-size: 1.2vw;
    font-weight: bold;
    line-height: 6vh;
  }

  .lmo_data_visualization_header_option {
    top: 1.5vh;

    button {
      margin-right: .5rem;
    }
  }
}