.lmo-data_visualization_header {
  padding: 0 1rem;
  height: 6vh;
  width: 96%;
  margin: 1rem auto auto;
  border-radius: .8vw;
  justify-content: space-between;
  background: #fbfbfd14;

  h3 {
    font-size: 1.2vw;
    font-weight: bold;
    line-height: 6vh;
  }

  .lmo_data_visualization_header_option {
    .lmo_data_visualization_header_option_buttons{
      top: calc(6vh / 2 - .8rem);
    }
    button {
      margin-right: .5rem;
    }
  }
}