.lmo-data_visualization_edit_preview_player_iframe_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.33vw;
  background: #0C2856;

  iframe {
    width: 1920px;
    height: 1080px;
    transform: scale(0.48);
    transform-origin: 0 0;
  }

  .lmo-data_visualization_edit_preview_mask {
    width: 100%;
    height: 100%;
    z-index: 5;
  }

}