.lmo-edit_config {
  .lmo-edit_config_tabs {
    width: 9.5vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .lmo-edit_config_content {
    position: relative;
    top: 4.5vh;
    padding: 0 1rem;
    overflow-y: auto;
  }
}