$theme-color: #0688E5;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$color-white: #FBFBFD;

// dark
$__primary-bg-color-dark: #232F3F;
$__primary-sub-bg-color-dark: #1A2236;
$__form-component-bg-color-dark: #354459;
