$theme-color: #0688E5;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$color-white: #FBFBFD;

// dark
$__primary-bg-color-dark: #383838;
$__primary-sub-bg-color-dark: #2C2C2C;
$__form-component-bg-color-dark: #444444;


// light
$__primary-bg-color-light: #F0F0F0;
$__primary-high-bg-color-light: #F8F9FB;
$__primary-sub-bg-color-light: #FFF;
$__primary-input-bg-color-light: #f7f7f7;
$__primary-input-color-light: #3D3D3D;
