.lmo-edit_header {
  height: 6vh;
  width: 96%;
  background: #fbfbfd14;
  padding-left: 1rem;
  line-height: 6vh;
  border-radius: 1.33rem;
  justify-content: space-between;
  padding-right: 1rem;
  margin: 1rem auto auto;

  .lmo-edit_header_left {
    margin-right: 40px;
    color: #fbfbfd;

    i {
      align-self: center;
      margin-right: 8px;
    }

    .lmo-edit_header_title {
      font-size: .8vw;
    }

    .lmo-edit_header_sep {
      width: 2px;
      height: 16px;
      background-color: #b3b3b3;
      top: 2.1vh;
      left: 1vw;
    }

    .lmo-edit_header_content {
      margin-left: 2vw;
      font-size: 1.05rem;
    }
  }

  .lmo_create_template {
    span {
      display: inline-block;
      width: 4rem;
      color: #fbfbfd;

      &:after {
        content: '：';
      }
    }
  }

}